
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>帝君Q版</title>
    

    <style type="text/css">

        .first {
            background-image: url('帝君q版.jpg');
            height:500px;
            width:300px;
            background-position: center center;
            background-size: cover;
            margin:0 auto;
    }

</style>


</head>
<body>

    <h1>@ViewBag.test</h1>
    <h2>@ViewBag.DateTime</h2>
    <div class="first"></div>

</body>
</html>
